/* *{
    outline: solid 1px red;
} */
html, body{
    font-family: consolas;
    background: #222;
    color: white;
    margin:0;
}

.nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 120px;
    background:	#1A1617;
}

.nav div{
    padding: 1em 1em;
}
.nav .cart{ 
    background: #8DA399;
    
    /* margin:0 1em;  */
    right: 0;
}

img{
    width: 250px;
}

ul{
    padding: 10px;
}


.product, .review{
    max-width: 1080px;
    margin: 3em auto;
}


.product{
    display: grid;
    grid-template-columns: auto 1fr;
}

.product-image{
    background: #333;
    padding: 25px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.product-info{
    padding: 5rem;
}

.product-content{
    margin: 4rem 0;
}

.review{

    color: #bbb;

    /* font-size: .6rem; */
}

.tabs{
    margin-top: 10rem ;
}

.review > span{
    color: #999;
    font-size: 1.2em;
    cursor: pointer;
}


.reviews{
    display:grid;
    grid-template-columns: auto 1fr;
}


.review .activeTab{
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    /* text-decoration: underline; */
}

.review-info,.review-review{
    padding: 1em 2em;
    margin: 3em 0;
}


.review-info{
    background-color: #1A1617;
}

.review-name{
    font-size: 1.2em;
    font-weight: bold;
}

.review-rating{
    font-size: .7em;
    margin-top: .3em;
}

.review-review{
    font-size: 1em; 
    color: white;
    background-color: #333; 
    margin-right: 3em;
}

.review form{
    /* display: inline-block; */
    /* border: solid 2px #bbb; */
    padding: 0 1em;
    margin: 3em;
}

.stock{
    display: inline;
    padding: 0 5px;
    color: #222;
    border-radius: 5px;
}

.colors{
    list-style: none;
    margin:0;
    padding: 0;
    margin-top: 1em;
}

.colors li{
    display: block;
    border: solid 1px #555;
    float: left;
    padding: 3px 8px;
}

.colors li:hover{
  cursor: pointer;
}


.colors li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.colors li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
  }​

button, input[type=submit]{
    font-family: consolas;
    background:#87A96B;
    border: none;
    color: white;
    padding: .8em 4em;
}


input,textarea,select{
    padding: .8em .3em;
    width: 20vw;
}

input[type=submit]{
    margin-top:1em;
}

button{
    border: none;
    background:#87A96B;
    font-size: 1.3rem;
    padding: .8em 4em;
}

button:hover{
    cursor: pointer;
}

.disableButton{
    background: #8DA399;
    opacity: .3;
}

.disableButton:hover{
   cursor: not-allowed;
}

.error{
    color:lightsalmon;
}

.throw:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .throw            { zoom: 1; } /* IE6 */
  *:first-child+html .throw { zoom: 1; } /* IE7 */