html, body{
    font-family: consolas;
    background: #222;
    color: white;
    margin:0;
}

.nav{
    width: 100%;
    padding: 20px;
    margin-bottom: 120px;
    background:	#1A1617;
    text-align:center;
}

img{
    width: 250px;
}

ul{
    padding: 10px;
}



.product{
    width: 720px;
    margin: 3em auto;
    display: grid;
    grid-template-columns: auto auto;
}

.product-image{
    background: #333;
    padding: 25px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.product-info{
    padding: 5rem;
}

.stock{
    display: inline;
    padding: 0 5px;
    color: #222;
    border-radius: 5px;
}

.colors{
    list-style: none;
    margin:0;
    padding: 0;
    margin-top: 1em;
}

.colors li{
    display: block;
    border: solid 1px #555;
    float: left;
    padding: 3px 8px;
}

.colors li:hover{
  cursor: pointer;
}


.colors li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.colors li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button{
    display: inline-block;
    font-family: consolas;
    background: #584b4f;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: solid 1px #584b4f;
}

button:hover{
    cursor: pointer;
}

.disableButton{
    border: solid 1px white;
    background: none;
}

.disableButton:hover{
   cursor: not-allowed;
}

.cart{ display: inline-block; font-size:.8rem;}

.throw:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .throw            { zoom: 1; } /* IE6 */
  *:first-child+html .throw { zoom: 1; } /* IE7 */